input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #d7b4f5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3f0573;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    padding-top: 7rem;
}


.form-section {
    margin-left: 22rem;
    margin-right: 22rem;
}

.title-page {
    text-align:center;
}
.label-contact {
    font-size: 1.2rem;
    font-weight: 600;
    color:#333333
}